body {
  font-family: "Poppins", sans-serif;
  background-color: #c4b7a6;
}
h1 {
  font-size: 64px;
  text-shadow: 5px, 7px, 3px, 8px rgb(148, 144, 144);
  text-align: center;
  font-weight: 530;
  text-shadow: 10px 7px 16px;
}
nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 15px;
  color: black;
  transition: 0.3s;
}

nav ul li a:hover {
  background-color: rgb(146, 145, 145);
  transition: 0.3s;
  font-weight: 700;
}
